body {margin: 0;}
canvas {position: absolute; width: 100%; height: 100% }

#posWidget {
 float: right;
 position: relative;
 color: white;
}

#crosshair{
 position:fixed;
 top: 50%;
 left: 50%;
 color: white;
}
#webgl {
    border: 1px solid;
}

#webgl3d {
 position:absolute;
 width:100%;
 height:100%;
}
.slidecontainer {
 float: right;
 width: 20%; /* Width of the outside container */
}

/* The slider itself */
.slider {
 -webkit-appearance: none;  /* Override default CSS styles */
 appearance: none;
 width: 100%; /* Full-width */
 height: 25px; /* Specified height */
 background: #d3d3d3; /* Grey background */
 outline: none; /* Remove outline */
 opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
 -webkit-transition: .2s; /* 0.2 seconds transition on hover */
 transition: opacity .2s;
}